@import url('vazirmatn/Vazirmatn-Variable-font-face.css');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #212121;
    font-family: 'Vazirmatn', sans-serif;
}

